
body {
	font-family:arial;
}
#logo {
	border:1px solid black;
	padding:5px;
}
#upNav table, #leftNav table {
	width:100%;
	height:100%;
}
#upNav {
	border:1px solid black;
	padding:0px;
	height:100px;
	width:80%;
	margin:0px;
	border-left: none !important;
}
#upNav .sep {
	border-right:1px solid black;
	height:105px;
	display:inline-block;
	margin:0px;
	padding:5px;
	height:110px;

}
#upNav .last {
	border-right:none !important;
}
#leftNav {
	width:20%;
	border:1px solid black;
	height:100%;
	margin:0px;
	padding:0px;
	border-top: none !important;
}
#leftNav .sep {
	border-bottom:1px solid black;
	display:inline-block;
	margin:0px;
	padding:5px;
	width:250px;

}
#leftNav .last {
	border-bottom:none !important;
}
#content {
	width:100%;
	height:500px;
}
#search {
	border:2px solid blue;
	border-radius:5px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	border-right:none;
	display:inline;
	cursor:text;
	text-align:left;
	height:34px;
	-moz-user-select:text;
}
#btnSearch {
	border:2px solid blue;
	border-radius:5px;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	height:34px;
}
#logoImg {
	width:250px;
	height:100px;
	cursor:pointer;
}
/* jiana code */
.header {
				font-size: 28px;
				text-decoration: underline;
				font-weight: bold;
				color: #0F3A80
			}
			.titles {
				font-size: 23px;
				color: #4677C7;
			}
			.inputs {
				width:500px;
			}
			.jianaTable {
				border-bottom:1px solid #4677C7;
				width : 100%;
				padding-bottom:1px
			}
